@mixin mobile {
	@media (max-width: 37.4375em) { @content; }	//599px
}
@mixin tablet {
	@media (min-width: 37.5em) { @content; }	// 600px
}
@mixin notDesktop {
	@media (max-width: 64em) { @content; }
}
@mixin desktop {
	@media (min-width: 64.01em) { @content; }	// 1024px
}
@mixin hugeScreens {
	@media (min-width: 120.0625em) { @content; }	// 1921px
}

header {
    --headerHeight: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0; left: 0; right: 0;
    height: var(--headerHeight);
    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.1);
    z-index: 100;
    background-color: var(--lightLowOp);
    .logo {
        height: 40%;
        img {
            height: 100%;
        }
    }
    .lang {
        position: fixed;
        top: 0.9rem;
        &.ar {
            right: 1.5rem;
        }
        &.en {
            left: 1.5rem;
        }
        a {
            color: var(--main);
            font-weight: 600;
            text-decoration: none;
            &:hover {
                color: var(--mainLight)
            }
        }
    }
}
main {
    padding-top: calc(var(--headerHeight) + 4rem);
}