@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

@mixin mobile {
	@media (max-width: 37.4375em) { @content; }	//599px
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Almarai';
    box-sizing: border-box;
}
:root {
    --main: #e3a062;
    --mainLowOp: rgba(227, 160, 98, 0.6);
    --mainVeryLowOp: rgba(227, 160, 98, 0.4);
    --mainLight: #f2c091;
    --mainLighter: #f5dac1;
    --mainDark: #bd7228;
    --mainDarker: #734212;
    --light: #fffaf5;
    --lightLowOp: rgb(255, 250, 245, 0.75);
    --dark: #261300;
    --headerHeight: 75px;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    color: var(--dark);
    &.ar {
        text-align: right;
    }
}
button.styled {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.65rem 1.7rem;
    display: flex;
    align-items: center;
    &.ar {
        padding: 0.65rem 1.4rem;
    }
    letter-spacing: 0.5px;
    transition: background-position 400ms ease, 
                box-shadow 500ms ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    background-position: 0px 0px;
    background-size: 150%;
    border-radius: 4px;
    color: var(--light);
    @include mobile {
        font-size: 0.9rem;
        padding: 0.65rem 1rem;
    }
    &.main {
        background-image: linear-gradient(30deg, var(--main), var(--mainLighter));
        box-shadow: 10px 20px 45px var(--mainVeryLowOp);
        &:hover {
            box-shadow: 2px 2px 35px var(--mainVeryLowOp);
            background-position: 100% 0px;
        }
    }
}