@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin mobile {
	@media (max-width: 37.4375em) { @content; }	//599px
}
@mixin tablet {
	@media (min-width: 37.5em) { @content; }	// 600px
}
@mixin notDesktop {
	@media (max-width: 64em) { @content; }
}
@mixin desktop {
	@media (min-width: 64.01em) { @content; }	// 1024px
}
@mixin hugeScreens {
	@media (min-width: 120.0625em) { @content; }	// 1921px
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Almarai';
    box-sizing: border-box;
}
:root {
    --main: #2194d9;
    --mainLowOp: rgba(33, 148, 217, 0.6);
    --mainVeryLowOp: rgba(33, 148, 217, 0.4);
    --mainLight: #66baed;
    --mainLighter: #99ceee;
    --mainDark: #115680;
    --mainDarker: #002436;
    --light: #f8fcff;
    --dark: #292929;
    --headerHeight: 75px;
}
body {
    width: 100%;
    height: 100vh;
    background-color: white;
    color: var(--mainVeryDark);
}
button.styled {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.65rem 1.7rem;
    display: flex;
    align-items: center;
    ion-icon {
        font-size: 1.4rem;
        margin-right: 8px;
    }
    &.ar {
        ion-icon {
            margin-right: 0;
            margin-left: 8px;
        }
        padding: 0.65rem 1.4rem;
    }
    letter-spacing: 0.5px;
    transition: background-position 400ms ease, 
                box-shadow 500ms ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    background-position: 0px 0px;
    background-size: 150%;
    border-radius: 4px;
    color: var(--light);
    @include mobile {
        font-size: 0.9rem;
        padding: 0.65rem 1rem;
    }
    &.main {
        background-image: linear-gradient(30deg, var(--main), var(--mainLighter));
        box-shadow: 10px 20px 45px var(--mainVeryLowOp);
        &:hover {
            box-shadow: 2px 2px 35px var(--mainVeryLowOp);
            background-position: 100% 0px;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--headerHeight);
    padding: 0 4vw;
    @include mobile {
        padding: 0 6vw;
    }
    .logo {
        a {
            &:hover h1 {
                opacity: 0.7;
            }
            h1 {
                font-weight: 700;
                color: var(--main);
                @include mobile {
                    font-size: 1.7rem;
                }
            }
        }
    }
    .account {
        position: relative;
        .account-btn {
            display: flex;
            align-items: center;
            transition: opacity 500ms ease;
            padding: 0.2rem 0.3rem;
            border-radius: 8px;
            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-right: 8px;
                &.ar {
                    margin-left: 8px;
                    margin-right: 0;
                }
                box-shadow: 10px 20px 45px var(--mainLowOp);
                transition: box-shadow 500ms ease;
            }
            p {
                font-size: 0.9rem;
                font-weight: 600;
            }
            &:hover {
                opacity: 0.8;
                img {
                    box-shadow: 2px 2px 35px var(--mainLowOp);
                }
            }
            ion-icon {
                font-size: 1.1rem;
                color: var(--main)
            }
        }
        .account__drop-down {
            position: absolute;
            top: 100%;
            display: none;
        }
    }
}

.main-wrapper {
    display: flex;
    align-items: center;
    height: calc(100% - var(--headerHeight));
    .left-panel {
        position: relative;
        height: 100%;
        padding: 1rem 1rem 0;
        @include desktop {
            flex: 1;
        }
        @include notDesktop {
            width: 5rem;
        }
        &__menu {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__option {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0.6rem 0.8rem;
                border-radius: 8px;
                color: var(--main);
                transition: color 500ms ease, background-color 500ms ease;
                &.ar {
                    ion-icon {
                        margin-left: 12px;
                        margin-right: 0;
                    }
                    p {
                        font-weight: 600;
                    }
                }
                &.active {
                    color: var(--light);
                    background-image: linear-gradient(30deg, var(--main), var(--mainLighter));
                    box-shadow: 10px 20px 45px var(--mainVeryLowOp);
                }
                &:hover {
                    color: var(--light);
                    background-color: var(--mainLight);
                }
                ion-icon {
                    font-size: 1.4rem;
                    margin-right: 12px;
                    margin-top: -1px;
                    @include notDesktop {
                        margin-right: 0!important;
                        margin-left: 0!important;
                    }
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                &:not(:last-child) {
                    margin-bottom: 0.75rem;
                }

            }
        }
        &__footer {
            position: absolute;
            bottom: 1rem;left:1rem;right:1rem;
            button {
                width: 100%;
                justify-content: center;
                @include notDesktop {
                    padding: 0.65rem 0;
                    ion-icon {
                        margin-right: 0;
                        margin-left: 0;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .main-panel {
        height: 100%;
        padding: 0 1rem;
        border: 1px solid transparent;
        border-top-color: var(--mainLighter);
        border-left-color: var(--mainLighter);
        border-radius: 10px 0 0 0;
        background-color: var(--light);
        overflow: auto;
        &.ar {
            border-radius: 0 10px 0 0;
            border-left-color: transparent;
            border-right-color: var(--mainLighter);
        }
        &.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            p {
                margin-bottom: 1rem;
            }
        }
        @include desktop {
            flex: 4
        }
        @include notDesktop {
            width: 100%;
        }
    }
}


.hide-for-mobile {
    @include notDesktop {
        display: none!important;
    }
}
.hide-for-desktop {
    @include desktop {
        display: none!important;
    }
}