@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*  {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color:#fefefe;
  font-family: 'PT Sans';
  margin-top: 3rem;
  text-align:center;
  font-weight: 500;
}